.form__button--count {
    text-align: center;
}

.form__button {
    display: inline-block;
    background-color: rgb(243, 163, 228);
    padding: 15px;
    width: 300px;
    border-width: 2px;
    border-color: rgb(241, 68, 68);
    border-radius: 5px;
}

.form__button:hover {
    background-color: #d61ca8;
    color: white;
}

.form__button:active {
    background-color: #e854b9;
    color: white;
}