.form__fieldset {
    background-image: url("../images/blue.jpg");
    text-align: left;
    font-size: 20px;
    padding: 30px;
    max-width: 1000px;
    border-color: #8b84ec;
    border-radius: 10px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(80, 88, 223, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(80, 88, 223, 1);
    box-shadow: 8px 8px 24px 0px rgba(80, 88, 223, 1);
}

.form__legend {
    display: block;
    background-color: #304ef8;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.form__labelText {
    width: 100%;
    max-width: 300px;
    display: inline-block;
    margin-right: 5px;
    color: white;
}

.form__field--filled {
    background-color: #bdcaf6;
}

.form__field {
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%;
    max-width: 200px;
    border-radius: 5px;

}

.form__information {
    font-size: 12px;
    text-align: center;
}

.form__result {
    margin: 40% 10% 40% 40%;
    font-size: 30px;
    color: white;
}

.form__clue {
    text-align: left;
}