.footer {
    background-color: whitesmoke;
    color: rgb(4, 12, 176);
    line-height: 1.5;
    text-align: center;
    padding: 15px 30px 15px 30px;
    margin: 30px;
    border-radius: 20px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(80, 88, 223, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(80, 88, 223, 1);
    box-shadow: 8px 8px 24px 0px rgba(80, 88, 223, 1);
}

.footer__link {
    display: inline-block;
    background-color: #5b95f1;
    color: white;
    width: 100%;
    max-width: 400px;
    padding: 20px 20px;
    border-radius: 5px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(80, 88, 223, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(80, 88, 223, 1);
    box-shadow: 8px 8px 24px 0px rgba(80, 88, 223, 1);
}

.footer__link:visited {
    background-color: #5b95f1;
}

.footer__link:hover {
    background-color: #d61ca8;
    color: white;
    outline: none;
}

.footer__link:active {
    background-color: #e854b9;
    color: white;
}